.upplysingar {
	display:grid;
	grid-gap: 1em;
	grid-template-areas:
		"upplysingar mynd";
	grid-template-columns: 2fr 1fr;
}
.upp {
	grid-area:upplysingar;
}

.mynd {
	grid-area:mynd;
	border: solid 1px black;
}
.upp h1 {
	font-size:70px;
}