.yfir {
	display: grid;
	grid-template-areas:
	"timasetning",
	"dagskra",
	"kort";
}
.timasetning {
	font-size:3em;
	text-align:center;
}
.timasetning h1 {
	font-family: 'Lobster', cursive;
	border:2px solid #5f3b27;
	border-radius:15px 50px 30px;
}
.kort {
	text-align:center;
	padding:2em;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  text-align:center;
}
th,
td {
  padding: 10px 15px;
}
thead {
  background: #825e28;
  color: #fff;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
caption {
	font-size:2em;
}
